@font-face {
    font-family: "MoreSugar";
    src: url(../../fonts/MoreSugar-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MoreSugar';
    background-color: #e6daac;
    color: black;
}

/* 
--- NAVBAR ---
*/
.navbar {
    background: #e6daac;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: none;
    margin: auto;
    padding: 0 50px;
}

#navbar__logo {
    font-family: 'MoreSugar';
    font-size: 45px;
    /*font-size: 2rem;*/
    background-color: #ffde59;
    background-size: 100%;
    -webkit-text-stroke: 1px black;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    font-family: 'MoreSugar';
    font-size: 25px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #ffde59;
    -webkit-text-stroke: 0.5px black;
    transition: all 0.3s ease;
}

.logo-books {
    margin-right: 0.5rem;
}
  
@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #e6daac;
    }

    .navbar__menu.active {
        background: #e6daac;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: black;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
  
/*
--- BLOG ---
*/

.book__blog__container {
    max-width: fit-content;
    margin-inline: auto;
}

.book__title {
    text-align: center;
    font-size: 50px;
    color: #ffde59;
    -webkit-text-stroke: 1px black;
}

.book__img__desc__container {
    display: flex;
}

/* Slideshow container */
.book__imgs__container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
/* Hide the images by default */
.book__img {
    display: none;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    /*right: 0;*/
    margin-left: 259px;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
  
/* The dots/bullets/indicators
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
} 
  
.active, .dot:hover {
    background-color: #717171;
} */
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Book Description */
.book__desc__container {
    font-size: 25px;
    margin-left: 25px;
}


.book__description {
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 600;
    width: 450px;
}

/*
--- MNW Rating ---
*/
.mnw__rating__heading {
    color: #ffde59;
    -webkit-text-stroke: 0.5px black;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
}

.mnw__rating__container {
    max-width: fit-content;
    margin-inline: auto;
    padding-bottom: 30px;
}

.rating__stars__container {
    display: flex;
}

.rating__star {
    position: relative;
    margin-inline: 10px;
}

.rating__star .star__expl {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.rating__star .star__expl::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.rating__star:hover .star__expl {
    visibility: visible;
    opacity: 1;
}

.checked {
    color: orange;
}

/*
--- MNW REVIEW ---
*/
.mnw__review__container {
    max-width: fit-content;
    margin-inline: auto;
}

.mnw__review {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    width: 1000px;
    padding-bottom: 10px;
}

/* 
--- FOOTER ---
*/

.footer__container {
    display: flex;
    height: 80px;
    z-index: 1;
    max-width: fit-content;
    margin-inline: auto;
}

.fa-twitter, .fa-instagram, .fa-twitch, .fa-tiktok, .fa-youtube, .fa-github {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-top: 20px;
    margin-inline: 10px;
}

.fa-twitter:hover, .fa-instagram:hover, .fa-twitch:hover, .fa-tiktok:hover, .fa-youtube:hover, .fa-github:hover {
    color: #ffde59;
}
